.roundedBackground {
    border-radius: 25px;
    background: #EEEEEE;
    padding: 20px;
    width: 400px;
    height: 400px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.float-label-field {
    font-family: Helvetica, sans-serif;
    border: none;
    outline: none;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

input[type=text], input[type=password] {
    width: 50%;
}

input[type=submit] {
    font-family: Helvetica, sans-serif;
    background-color: rgb(131,58,180);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    border-radius: 20px;
    font-weight: bold;
}

button {
    font-family: Helvetica, sans-serif;
    background-color: rgba(253,29,29,1);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;
    border-radius: 20px;
}


body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}